[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://github.com/Painter3000/simple-knn-rocm72-gfx1201.git
[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = https://github.com/Painter3000/diff-gaussian-rasterization-rocm72-gfx1201.git
[submodule "SIBR_viewers"]
	path = SIBR_viewers
	url = https://gitlab.inria.fr/sibr/sibr_core.git
[submodule "submodules/fused-ssim"]
	path = submodules/fused-ssim
	url = https://github.com/Painter3000/fused-ssim-rocm72-gfx1201.git
